@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Syntaxe ultra-propre pour injecter des animations personnalisées en Tailwind v4 */
@utility reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

@utility reveal-visible {
  opacity: 1;
  transform: translateY(0);
}