@import "tailwindcss";

/* Configuration spécifique pour Tailwind v4 */
@variant dark (&:where(.dark, .dark *));

/* Classes personnalisées pour l'effet de fondu au défilement */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}